<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/classify.css">
    <script src="../jquery.js"></script>
</head>
<body>
    <div class="container">
        <!-- 模板字符串 -->
        <!-- <div class="">
            <h2></h2>
            <ul>
                <li data-one=${Id}><a href='javascript:;'>
                    <img src='${img_list_url}'alt="">
                    <p class=".goods_title">${title}</p>
                    <p class="goods_botton">
                        <span class="price">￥${price}</span>
                        <span class="label">${mack}</span></p>
                    </a></li>`
            </ul>

        </div> -->

    </div>
    
    
    <script src="../js/classify.js">
    

    </script>
</body>
</html>