<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <h1>首页</h1>
    <div class="home_top">
        <div>咖啡</div>
        <div>饮食</div>
        <div>正餐</div>
        <div>男装</div>
        <div>女装</div>
        <div>眼镜</div>
        <div>鞋靴</div>
    </div>
    <div class="wrap">
        <img src="../img/a.jpg" alt="" class="show"/>
        <img src="../img/b.jpg" alt="" />
        <img src="../img/c.jpg" alt="" />
        <img src="../img/d.jpg" alt="" />
        <img src="../img/e.jpg" alt="" />

        <div class="control">
          <div id="pre" class="control-btn left"><</div>
          <div id="next" class="control-btn right">></div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</body>
</html>