<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <script src="../jquery.js"></script>
</head>

<body>
    
    <br>
    
    <div class="wraper">
        <div class="wrap">
            <img src="../img/a.jpg" alt="" class="show" />
            <img src="../img/b.jpg" alt="" />
            <img src="../img/c.jpg" alt="" />
            <img src="../img/d.jpg" alt="" />
            <img src="../img/e.jpg" alt="" />
        </div>
        <!-- <div class="control">
                <div class="btn_left pre"><</div>
                <div class="btn_right next"> > </div>
        </div> -->

    </div>

    <ul class="goods"></ul>
    <script src="../js/home.js"></script>

</body>

</html>